node_modules
.pytest_cache
.terraform
.terraform.tfstate.lock.info
*.tfstate.backup
credentials
.pytest_cache
# Terraform state files
setup/terraform/terraform.tfstate
setup/terraform/terraform.tfstate.*
setup/terraform/*.tfstate
setup/terraform/*.tfstate.*
setup/terraform/state-backup.json
